.card {
  width: 280px;
  height: 200px;
  background: linear-gradient(121deg, #3c0505 20.58%, #040404 51.33%);
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.5s all;
  padding: 30px;
}

.card::before {
  position: absolute; /* Change from fixed to absolute */
  content: "";
  width: 200%;
  height: 200%;
  box-shadow: 0 0 100px 40px rgba(255, 0, 0, 0.5); /* Red glow */
  top: -100%;
  left: -100%;
  transform: rotate(-45deg);
  transition: 0.7s all;
  height: 40rem;
}

.card:hover {
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 15px 10px #000000aa;
  transform: scale(1.015);
  filter: brightness(1.3);
}

.card:hover::before {
  filter: brightness(0.5);
  top: 100%;
  left: 200%;
}

@media (width < 768px) {
  .card {
    width: 100%;
  }
}
